config main 'config'
	option autostart '0'
	option FWTYPE 'nftables'
	option MODE 'nfqws'
	option FLOWOFFLOAD 'none'
	option INIT_APPLY_FW '1'
	option DISABLE_IPV4 '0'
	option DISABLE_IPV6 '1'
	option MODE_FILTER 'hostlist'
	option NFQWS_OPT_DESYNC '--dpi-desync=fake,split2 --dpi-desync-ttl=7 --dpi-desync-ttl6=0 --dpi-desync-repeats=20 --dpi-desync-fooling=md5sig,badseq --dpi-desync-fake-tls=/opt/zapret/files/fake/tls_clienthello_www_google_com.bin'
	option NFQWS_OPT_DESYNC_SUFFIX ''
	option MODE_HTTP '1'
	option MODE_HTTP_KEEPALIVE '0'
	option NFQWS_OPT_DESYNC_HTTP ''
	option NFQWS_OPT_DESYNC_HTTP_SUFFIX ''
	option NFQWS_OPT_DESYNC_HTTP6 ''
	option NFQWS_OPT_DESYNC_HTTP6_SUFFIX ''
	option MODE_HTTPS '1'
	option NFQWS_OPT_DESYNC_HTTPS ''
	option NFQWS_OPT_DESYNC_HTTPS_SUFFIX ''
	option NFQWS_OPT_DESYNC_HTTPS6 ''
	option NFQWS_OPT_DESYNC_HTTPS6_SUFFIX ''
	option MODE_QUIC '1'
	option NFQWS_OPT_DESYNC_QUIC '--dpi-desync=fake,split2 --dpi-desync-repeats=15 --dpi-desync-fake-quic=/opt/zapret/files/fake/quic_initial_www_google_com.bin --new --dpi-desync=fake --dpi-desync-repeats=15'
	option NFQWS_OPT_DESYNC_QUIC_SUFFIX ''
	option NFQWS_OPT_DESYNC_QUIC6 ''
	option NFQWS_OPT_DESYNC_QUIC6_SUFFIX ''
